@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forgot Password</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Font Awesome (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS files -->
    <link href="~/ThemeData/Tabler/dist/css/tabler.min.css" rel="stylesheet" />
    <link href="~/ThemeData/Tabler/dist/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/ThemeData/Tabler/dist/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/ThemeData/Tabler/dist/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="~/ThemeData/Tabler/dist/css/demo.min.css" rel="stylesheet" />
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body class="d-flex flex-column">
    <script src="~/ThemeData/Tabler/dist/js/demo-theme.min.js"></script>
    <div class="page page-center">
        <div class="container container-normal py-4">
            <div class="row align-items-center g-4">
                <div class="col-lg">
                    <div class="container-tight">
                        <div class="text-center mb-4">
                            <a href="@Url.Action("Login","Account")" class="navbar-brand navbar-brand-autodark">
                                <img src="~/ThemeData/Tabler/static/logo.svg" width="110" height="32" alt="Tabler"
                                    class="navbar-brand-image">
                            </a>
                        </div>
                        <div class="card card-md">
                            <div class="card-body">
                                <h2 class="card-title text-center mb-4">Forgot password</h2>
                                <p class="text-secondary mb-4">Enter your email address and your password will be reset
                                    and emailed to you.</p>
                                <div class="mb-3">
                                    <label class="form-label">Email address</label>
                                    <input type="email" id="email" class="form-control" placeholder="Enter email">
                                </div>
                                <div class="form-footer">
                                    <button type="button" id="sendButton" class="btn btn-primary w-100">
                                        <i class="fas fa-envelope icon"></i>
                                        Send me new password
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-secondary mt-3">
                            Forget it, <a href="@Url.Action("Login","Account")">send me back</a> to the sign in screen.
                        </div>
                    </div>
                </div>
                <div class="col-lg d-none d-lg-block">
                    <img src="~/ThemeData/Tabler/static/boy-with-key.png" class="d-block mx-auto" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="~/ThemeData/Tabler/dist/js/tabler.min.js"></script>
    <script src="~/ThemeData/Tabler/dist/js/demo.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#sendButton').click(function () {
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2000
            });

            var userData = {
                Email: $('#email').val()
            };

            $.ajax({
                url: '@Url.Action("SendPassword", "Account")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(userData),
                success: function (response) {
                    Swal.fire({
                        title: "Email sent.",
                        text: "You can login with the temporary password sent to your email.",
                        icon: "success",
                        showCancelButton: false,
                        confirmButtonText: "OK",
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = response.redirectUrl;
                        }
                    });
                },
                error: function (xhr, status, error) {
                    var errorMessage = "An unknown error occurred."; // default
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                        errorMessage = xhr.responseJSON.message;
                    }

                    Toast.fire({
                        icon: 'error',
                        title: errorMessage
                    });
                }
            });

        });

    </script>
</body>

</html>
